:root {
  --ff-main: "Poppins", sans-serif;
  --ff-add: "Lato", sans-serif;

  --border-color: #d6d6d6;

  --btn-radius: 4px;

  --color-primary: #01996d;
  --background: #245852;
}

body {
  font-family: var(--ff-main);
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
}
.container {
  max-width: 1507px;
  margin-inline: auto;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: var(--btn-radius);
  background: transparent;
  padding: 13px 50px;
  font-family: var(--ff-add);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.btn_link {
  color: #000;
}

.btn_primary {
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
  color: #fff;
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  padding: 14px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.header__ul {
  display: flex;
  align-items: center;
  gap: 72px;
}

.header__a {
  color: #292929;
  font-family: var(--ff-add);
  font-size: 20px;
  font-weight: 500;
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-section {
  position: relative;
}
.main-section__container {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 909px;
  padding-left: 68px;
}

.main-section__title {
  max-width: 443px;
  color: var(--color-primary);
  font-family: var(--ff-main);
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main-section__desc {
  max-width: 420px;
  color: #484848;
  font-family: var(--ff-add);
  font-size: 20px;
  font-weight: 400;
  line-height: 157%;
  margin-bottom: 53px;
}

.main-section__btn {
  padding: 20px 50px;
}

.main-section__img {
  position: absolute;
  right: 0;
  top: 0;
}
.step__container {
  padding-left: 57px;
}

.step-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title title"
    "slogan desc";
}

.step-header__title {
  grid-area: title;
  color: #424242;
  font-size: 24px;
  font-weight: 600;
  line-height: 157%;
}

.step-header__slogan {
  grid-area: slogan;
  color: #01996d;
  font-size: 50px;
  font-weight: 700;
  line-height: 157%;
  max-width: 579px;
}

.step-header__desc {
  grid-area: desc;
  color: #424242;
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  align-self: flex-end;
}
.step-list {
  margin-top: 82px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  gap: 68px;
}

.step-item {
  display: flex;
  flex-direction: column;
}

.step-item__title {
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 20px;
}

.step-item__desc {
  color: #424242;
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  flex-grow: 1;
  margin-bottom: 66px;
}

.step-item__img img {
  width: 100%;
}

.story-section {
  background: var(--background);
}

.story-section__container {
  max-width: 1920px;
  padding-bottom: 176px;
  padding-left: 60px;
}

.story_section__title {
  width: 580px;
  position: relative;
  top: 300px;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 157%;
}

.story_section__desc {
  position: relative;
  top: 333px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 157%;
}

.stoty-section__btn {
  position: relative;
  top: 400px;
}

.story-section__img {
  position: relative;
  left: 650px;
  max-width: 895px;
  flex-shrink: 0;
  padding-left: 31px;
}

.product-section {
}

.product-section__container {
  display: flex;
  flex-direction: row;
  min-height: 936px;
  padding: 60px;
}
.product-section__info {
  gap: 20px;
}
.product-section__btn {
  margin-left: 86px;
  margin-top: 40px;
}

.product-section__img {
  max-width: 638px;
  padding-top: 120px;
}

.product-section__h6 {
  color: #424242;

  font-size: 25px;

  font-weight: 600;
  line-height: 157%;
  padding-top: 120px;
  padding-left: 86px;
  gap: 10px;
}

.product_section__title {
  padding-left: 86px;

  color: #01996d;

  font-size: 50px;

  font-weight: 700;
  line-height: 157%;
}

.product_section__desc {
  max-width: 530px;
  flex-shrink: 0;
  color: #484848;
  font-size: 20px;
  font-weight: 400;
  line-height: 157%;
  padding-left: 86px;
}

.footer {
  background: var(--background);
}

.footer__container {
  max-width: 1920px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_desc {
  padding-left: 60px;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
}

.footer__ul {
  padding-right: 60px;
  display: flex;
  gap: 60px;
}

.footer__a {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
